body {
  background-color: rgb(204, 189, 166);
  max-width: 100%;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.4rem;
}

.active {
  text-decoration: overline wavy;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(218, 70, 12);
  border-radius: 0 15px;
}

.App {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  margin: auto;
  padding: 0;
  line-height: 1.2rem;
  letter-spacing: 0.02rem;
  background-color: rgb(204, 189, 166);
  color: rgb(36, 4, 36);
}

@media only screen and (min-width: 1800px) {
  .App {
    width: 65%;
  }
  .single-article {
    width: 100%;
  }
}

.article-footer {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.fn-img {
  width: 50px;
  height: auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 1em 0 0 0;
}

h1 {
  font-size: 3rem;
  font-family: 'Abril Fatface', cursive;
  font-weight: 100;
  letter-spacing: 0.1rem;
}

h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

h1,
h3 {
  color: rgb(218, 70, 12);
  text-align: center;
}

.author-text {
  text-align: center;
}

.back-btn {
  color: rgb(36, 4, 36);
}

.single-article {
  border: solid 1px rgb(218, 70, 12);
  border-radius: 15px;
  background-color: aliceblue;
  padding: 15px;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  margin-top: 0;
  background-color: rgb(218, 70, 12);
  color: aliceblue;
}

nav > *:hover {
  cursor: pointer;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: aliceblue;
}

.like-button:hover {
  cursor: pointer;
}

.view-comment-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.article-header:hover {
  cursor: pointer;
  text-decoration: underline;
}
